.git
.gitignore
README.md
.env
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
logs
*.log
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
*.example
docker-compose.yaml
Dockerfile
Makefile
*.md
*.sh
.dockerignore
